<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Login Química</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styleLogin.css')}}">
 
</head>
<body>
  <div class="container">
    <div class="left-panel">
       <div class="back-arrow"><a href="{{ url_for('home.index') }}"><img  src="{{ url_for('static', filename='images/Flecha-izq.png') }}"></a></div>
      <h1 class="titulo">Cursos Postgrado<br />Carrera de Química<br /><span>3ra Versión</span></h1>
      <p class="subtitulo">¡Bienvenido! Al centro de ayuda para recuperar su contraseña.</p>
      <p class="text-negrita">Su Consulta a sido Enviada y Recibida con Exito por favor revisa tu Correo Electronico</p>
      <p class="text-negrita">INSTRUCIONES</p>
      <p class="texto">Ingrese a su Correo Electronico</p>
      <p class="texto"> En la seccion de RECIBIDOS vera un de BattleBread Academy</p>
      <p class="texto">Ingresar al Link  que le llego para su Cambio de contrasena</p>
      <p class="text-rojo">Importante no Compartir la informacion Proporsionada en ese Sitio</p> 
  </div>
   <div class="right-panel">
      <img src="{{ url_for('static', filename='images/Flag_of_UNESCO.png') }}" alt="UNESCO Logo">
    </div>
</body>
</html>
