<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Login Química</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styleLogin.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/password-check.css')}}"
    />
  </head>
  <body>
    <div class="container">
      <div class="left-panel">
        <!--<div class="back-arrow">←</div>-->
        <h1>
          Cursos Postgrado<br />Carrera de Química<br /><span>3ra Versión</span>
        </h1>
        <p>¡Bienvenido! Al centro de ayuda para recuperar su contraseña.</p>
        <p>Por Favor Ingrese la nueva contrasena</p>
        <form class="login-form" action="{{ url_for('auth.reset_token', token=token) }}" method="post">
          <label for="new_password">Ingrese su nueva contraseña</label>
          <input
            type="password"
            id="new_password"
            name="new_password"
            required
          />

          <label for="confirm_password">Confirme su nueva contraseña</label>
          <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            required
          />

          <span id="mensaje" class="mensaje"></span>

          <button type="submit" class="login-btn">Cambiar mi contraseña</button>
        </form>
      </div>
      <div class="right-panel">
        <img src="{{ url_for('static', filename='images/Flag_of_UNESCO.png') }}" alt="UNESCO Logo">
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/password-check.js') }}"></script>
  </body>
</html>
