<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error 403</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-error.css') }}">

<body>
   <h2 class="texto">Acceso Denegado</h2>
        <p>Usted no tiene los permisos necesarios para acceder a esta funcionalidad.</p>
  <div class="contenedor">
    <div class="pantalla">
      <span class="error-label">Error<span class="cursor">|</span></span>
      <span class="codigo-error">403</span> <!--aqui editar el codigo de error-->
    </div>
    <!-- Vapor animado -->
    <div class="vapor vapor1"></div>
    <div class="vapor vapor2"></div>
    <div class="vapor vapor3"></div>
  </div>
</body>
</html>
