blinker==1.9.0
click==8.2.1
colorama==0.4.6
dotenv==0.9.9
Flask==3.1.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
greenlet==3.2.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.2
multitasking==0.0.11
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.1
pandas==2.3.1
psycopg2==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
segno==1.6.6
six==1.17.0
SQLAlchemy==2.0.41
typing_extensions==4.14.1
tzdata==2025.2
Werkzeug==3.1.3
