
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Curso del Expositor</title>
  <link rel="stylesheet" href="/static/css/Expositor/CursoExp.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="curso-container">
    <div class="encabezado-curso">
      <input type="text" placeholder="Nombre del Curso" disabled>
      <button class="btn-qr">Escanear QR</button>
    </div>
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Estudiantes</th>
            <th>Identificador</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí se llenarán dinámicamente los estudiantes segun la base de datos el Backend debe hacer-->
          <tr>
            <td>MIchael Sthependejo</td>
            <td>123456</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
