
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Curso del Expositor</title>  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Expositor/CursoExp.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="curso-container">
    <div class="encabezado-curso">
      <input type="text" placeholder="Nombre del Curso" disabled>
      <button class="btn-qr">Escanear QR</button>
    </div>
    <div class="tabla-container">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Estudiantes</th>
            <th>Documento</th>
            <th>Nota</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>          
          {% for estudiante in estudiantes %}
          <tr>            
            <td>{{estudiante.id_usuario}}</td>
            <td>{{estudiante.nombre}} {{estudiante.apellido}}</td>
            <td>{{estudiante.documento}}</td>
            <td>{{estudiante.nota_catedra}}</td>
            <td>{{estudiante.nota_laboratorio}}</td>
            <td><button class="btn-qr">Cambiar nota</button></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
