<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Datos Personales</title>
  <link rel="stylesheet" href="/static/css/Expositor/datosPersonalesExp.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="contenedor-datos">
    <div class="formulario">
      <input type="text" placeholder="Nombre" disabled>
      <input type="text" placeholder="Identificación" disabled>
      <input type="text" placeholder="Género" disabled>
      <input type="text" placeholder="Edad" disabled>
      <input type="text" placeholder="Nacionalidad" disabled>
    </div>
    <div class="foto">
      <div><img class="marco-foto" src="/static/images/org1.jpg"></div>
    </div>
  </div>
</body>
</html>
