<h3>Gestión de Eventos</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>version</th>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Lugar</th>            
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for evento in eventos %}        
        <tr>
            <td>{{ evento.id_evento}}</td>
            <td>{{ evento.nombre_base}}</td>
            <!-- <td>{{ evento.version }}</td>
            <td>{{ evento.inicio }}</td>
            <td>{{ evento.fin }}</td>
            <td>{{ evento.lugar }}</td>
             -->
             <td>
                <button onclick="">Editar</button>
                <button onclick="">Eliminar</button>            
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<button onclick="" class="menu-btn-h">Agregar Evento</button>


