<h3>Gestión de Expositores</h3>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Documento</th>
            <th>País Origen</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for expositor in expositores %}
        <tr>
            <td>{{ expositor.id_usuario }}</td>
            <td>{{ expositor.nombre }}</td>
            <td>{{ expositor.apellido }}</td>
            <td>{{ expositor.email }}</td>
            <td>{{ expositor.documento }}</td>
            <td>{{ expositor.pais_origen }}</td>
            <td>{{ expositor.id_rol }}</td>
            <!-- <td>{{ expositor.cotrasena }}</td> -->
            <!-- <td>{{ expositor.certificado }}</td> -->
            <!-- <td>{{ expositor.curso }}</td> -->
            <td>
                <button onclick="">Editar</button>
                <button onclick="">Eliminar</button>
                <button onclick="">Enviar Certificado</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>

<button onclick="" class="menu-btn-h">Agregar Expositor</button>
<button onclick="" class="menu-btn-h">Descargar Certificados</button>
<button onclick="" class="menu-btn-h">Enviar Certificados</button>


